*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#1f232b;
    color:#fff;
    overflow-x:hidden;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
}

.logo{
    text-decoration:underline;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:25px;
}

nav a.active,
nav a:hover{
    color:#6dff4f;
}

/* ABOUT SECTION */
.about{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.about-box{
    display:flex;
    gap:80px;
    align-items:center;
    animation: pageEnter 1.2s ease;
}

/* IMAGE + RING */
.img-ring{
    position:relative;
    width:230px;
    height:230px;
    
}

.img-ring img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
    z-index:2;
    position:relative;
    object-position: center 10px;
}

/* rotating glow ring */
.ring{
    position:absolute;
    inset:-10px;
    border-radius:50%;
    border:3px solid transparent;
    border-top:3px solid #6dff4f;
    border-right:3px solid #6dff4f;
    animation: rotate 4s linear infinite;
}

/* CONTENT */
.content{
    max-width:500px;
    animation: textSlide 1.2s ease;
}

.content h1{
    font-size:42px;
}

.content h3{
    color:#6dff4f;
    margin:10px 0 20px;
}

.content p{
    line-height:1.7;
    color:#ddd;
}

/* SKILLS */
.skills{
    margin-top:25px;
}

.skill{
    margin-bottom:15px;
}

.skill span{
    font-size:14px;
}

.bar{
    background:#333;
    height:8px;
    border-radius:10px;
    overflow:hidden;
}

.fill{
    height:100%;
    width:0;
    background:#6dff4f;
    animation: fillBar 2s forwards;
}

.html{animation-delay:.3s;width:90%;}
.css{animation-delay:.6s;width:85%;}
.js{animation-delay:.9s;width:70%;}

/* BUTTON */
.btn{
    display:inline-block;
    margin-top:30px;
    padding:12px 28px;
    background:#6dff4f;
    color:#000;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    box-shadow:0 0 20px #6dff4f;
    transform:translateY(-3px);
}

/* ANIMATIONS */
@keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@keyframes textSlide{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes pageEnter{
    from{
        opacity:0;
        transform:scale(.95);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes fillBar{
    from{width:0;}
    to{width:100%;}
}